#inside1,
#inside2 {
  padding: 10px;
  height: max-content;
  width: max-content;
}

#diag {
  padding: 0px;
  margin: 0px;
}

.blueBisque {
  color: midnightblue;
  background-color: bisque;
  text-align: center;
}

.accepted {
  color: midnightblue;
  background-color: lightcyan;
}

.denied {
  color: red;
  font-size: bold;
  background-color: lightgrey;
}
