:root {
  --width: 135px;
  --mobile: 768px;
  --text1: black;
  --textRead: red;
  --textBlue: blue;
  --primary-main: #3f51b5;
  --primary-light: rgb(101, 115, 195);
  --primary-dark: rgb(44, 56, 126);
  --primary-contrast-text: #fff;
  --secondary-main: #f50057;
  --secondary-light: rgb(247, 51, 120);
  --secondary-dark: rgb(171, 0, 60);
  --secondary-contrast-text: #fff;
  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-disabled: rgba(0, 0, 0, 0.38);
  --shadows1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --shadows2: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --shadow4: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  --shadows6: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
    0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
  --shadows8: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --shadows10: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}

body {
  margin: 10px;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  color: midnightblue;
  background-color: rgba(0, 0, 0, 0.6);
}

.btnDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}
output {
  margin: 20px;
  color: black;
  font-weight: bold;
}

dialog {
  border: none;
  padding: 0;
  max-height: 70svh;
  overflow-y: scroll;
}

.denied {
  color: red;
  font-size: 2em;
  font-weight: 300;
  background-color: lightgrey;
}

button {
  color: var(--text1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 0.5rem;
  min-width: 4rem;
  min-height: 2.5rem;
  outline: none;
  border: none;
  border-radius: 10px;
  background: transparent;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
  transition: background-color 0.3s;
}

button::before {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: calc(50% - 100%);
  left: calc(50% - 100%);
  width: 200%;
  height: 200%;
  transition: opacity 250ms linear;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
}

button::active::before {
  opacity: 1;
}
button::hover::before {
  opacity: 0.5;
}

button.primary {
  color: var(--primary-main);
  background-color: var(--primary-contrast-text);
}

button.accent {
  color: var(--secondary-main);
  background-color: var(--primary-contrast-text);
}

form {
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--shadows8);
}

#diag {
  padding: 0px;
  margin: 0px;
}

.blueBisque {
  color: midnightblue;
  background-color: bisque;
  text-align: center;
  margin: 0px;
}

.accepted {
  color: midnightblue;
  background-color: lightcyan;
  font-size: 2em;
  font-weight: 300;
}

footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 10px;
}

input {
  margin: 10px;
}

button::hover {
  cursor: pointer;
}

button.raised {
  box-shadow: var(--shadows2);
}
button.raised::active {
  box-shadow: var(--shadows8);
}

button.disabled {
  color: rgba(0, 0, 0, 0.26);
  cursor: default;
  pointer-events: none;
  box-shadow: var(--shadows8);
}

button.raised.disabed {
  background-color: rgba(0, 0, 0, 0.12);
}

button.fullWidth {
  text-align: center;
  width: 100%;
}

button.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

button.ripple::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

button.ripple::active::after {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}
